<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <add key="constr" value="server=115.28.101.158;database=lwgs;uid=sa;pwd=008866@swkj" />
    <add key="UserUpFilePath" value="/UpFile/" />
    <add key="a_start_time" value="09:00:00" />
    <add key="a_end_time" value="12:00:00" />
    <add key="p_start_time" value="14:00:00" />
    <add key="p_end_time" value="18:00:00" />
    <add key="offsettime" value="30" />
    <add key="QToffsettime" value="30" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="OA_default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>